{{>header}}
{{>menu}}



<section id="main-section">
    <div class="main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="right-section">
                        <div class="img">
                            <img src="img/about/a1.png" alt="img" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 middle">
                    <div class="left-section">
                        <p>Welcome To My weather App</p>
                        <h2>Get The Latest <span>Weather</span> Info Of Your City</h2>
                        <div class="main-btn">
                            <a class="btn btn-default enquiry-btn" href="/weather">Get Info</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


{{>footer}}