{{>header}}
{{>menu}}



<section id="main-section">
    <div class="main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 middle">
                    <div class="left-section">
                        <p>Welcome To My weather App</p>
                        <h2>Get The Latest <span clas="weather-color">Weather</span> Info Of Your <br /> City</h2>
                        <div class="main-btn">
                            <a class="enquiry-btn"  href="weather">Get Info</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="right-section">
                        <div class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="img/slider/s1.png" alt="img1" class="img-fluid">
                                </div>
                                <div class="carousel-item">
                                    <img src="img/slider/s2.png" alt="img2" class="img-fluid">
                                </div>
                                <div class="carousel-item">
                                    <img src="img/slider/s1.png" alt="img3" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





{{>footer}}