 <header id="header">
        <div class="container">
            <div class="main-nav">
                <div class="logo">
                    <!-- <img src="" alt="" class="img-fluid"> -->
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                    <h4>ManishWeather</h4><i class="fa fa-sun-o" aria-hidden="true"></i>

                </div>
                <nav>
                    <div class="main-menu">
                        <div class="open">
                            <span class="menu-lines"></span>
                        </div>
                        <ul class="menu">
                            <div id="close">&times;</div>
                            <li><a href="/">Home</a></li>
                            <li><a href="about">About Us</a></li>
                            <li><a href="weather">Weather</a></li>
                            <li><a href="contact">Contact us</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>